#title {
	font-size:200%;
	margin-bottom:70px;
}

#myName {
	font-size: 500%;
	font-weight:bold;
}

#jobtitle {
	font-size:150%;
	line-height:80%;
}

#projecthistory {
	background-color:#003d66;
	color:white;
}

footer {
	padding-top:50px;
	margin-bottom:50px;
}

section {
	background-color:white;
	color: #003d66;
	font-size:200%;
	padding-top:30px;
	padding-bottom:50px;
}

section h1{
	font-size:150%;
	text-decoration:underline;
}

body {
    height: 100%;
    padding-top: 70px; 
	background-color: #003d66;
	color: white;
	font-family: Montserrat;
}


header img {
    border-radius: 50%;
	border-color:white;
}

.nav.navbar-nav{
  background-color:white;
  border-color:white;
  color:black;
  background-repeat: no-repeat;
  font-family: Montserrat;
 }